*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Montserrat'
}
#loginSection, #mainSection{
  margin-top: 4rem;
}
#login .alert{
  display: none;
}
.sidebar{
  position: fixed;
  right: 0;
  height: calc(100vh);
  border-left: 1px solid #dbdbdb;
}
ul.online{
  list-style: none;
  padding-left: 5px;
}
#stats td{
  padding: .6rem;
}

@media (max-width: 700px) {
  .sidebar{
    display: none;
  }
  #mainSection .new{
    margin-bottom: 8rem;
  }
}
