*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Montserrat'
}
#loginSection, #mainSection, #preGameSection{
  margin-top: 6rem;
}
#login .alert{
  display: none;
}
.sidebar{
  position: fixed;
  right: 0;
  height: calc(100vh);
  border-left: 1px solid #dbdbdb;
}
ul.online{
  list-style: none;
  padding-left: 5px;
}
#stats td{
  padding: .6rem;
}
#preGameSection .waiting, #preGameSection .choosing{
  display: none;
}
#preGameSection .choosing tbody tr{
  cursor: pointer;
}

@media (max-width: 700px) {
  .sidebar{
    display: none;
  }
  #preGameSection .waiting h1, #preGameSection .choosing h2{
    font-size: 1.5rem;
  }
  #preGameSection .waiting h2{
    font-size: 1rem;
  }
  #mainSection .new{
    margin-bottom: 8rem;
  }
}
